@page "/rewards/create"
@using Microsoft.EntityFrameworkCore
@using LevelUP.Domain
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Reward</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Reward" OnValidSubmit="AddReward" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="rewardname" class="form-label">RewardName:</label> 
                <InputText id="rewardname" @bind-Value="Reward.RewardName" class="form-control" /> 
                <ValidationMessage For="() => Reward.RewardName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Reward.Description" class="form-control" /> 
                <ValidationMessage For="() => Reward.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="unlockcriteria" class="form-label">UnlockCriteria:</label> 
                <InputText id="unlockcriteria" @bind-Value="Reward.UnlockCriteria" class="form-control" /> 
                <ValidationMessage For="() => Reward.UnlockCriteria" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/rewards">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Reward Reward { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddReward()
    {
        using var context = DbFactory.CreateDbContext();
        context.Reward.Add(Reward);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/rewards");
    }
}
