@page "/rewards"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LevelUP.Domain
@using LevelUP.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="rewards/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Reward">
    <PropertyColumn Property="reward => reward.RewardName" />
    <PropertyColumn Property="reward => reward.Description" />
    <PropertyColumn Property="reward => reward.UnlockCriteria" />

    <TemplateColumn Context="reward">
        <a href="@($"rewards/edit?id={reward.Id}")">Edit</a> |
        <a href="@($"rewards/details?id={reward.Id}")">Details</a> |
        <a href="@($"rewards/delete?id={reward.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private LevelUPContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
