﻿ /* Navbar styles */
.top-row {
    font-family: 'Arial', sans-serif;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.50); /* 75% transparent black */
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Navbar toggler (hamburger) button */
.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
    gap: 0;
}

.nav-link:hover {
    color: #ccc;
}

.btn-regular {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 2px transparent;
}

.nav-item {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    margin: 0;
}

.btn-transparent {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
}

    .btn-transparent:hover {
        background-color: white;
        color: black;
    }

.nav-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
