@page "/workouts/edit"
@using Microsoft.EntityFrameworkCore
@using LevelUP.Domain
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Workout</h2>
<hr />
@if (Workout is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Workout" OnValidSubmit="UpdateWorkout" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Workout.Id" value="@Workout.Id" />
                <div class="mb-3">
                    <label for="workoutname" class="form-label">WorkoutName:</label>
                    <InputText id="workoutname" @bind-Value="Workout.WorkoutName" class="form-control" />
                    <ValidationMessage For="() => Workout.WorkoutName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="workoutdescription" class="form-label">WorkoutDescription:</label>
                    <InputText id="workoutdescription" @bind-Value="Workout.WorkoutDescription" class="form-control" />
                    <ValidationMessage For="() => Workout.WorkoutDescription" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <InputText id="category" @bind-Value="Workout.Category" class="form-control" />
                    <ValidationMessage For="() => Workout.Category" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Workout.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Workout.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Workout.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Workout.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Workout.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Workout.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Workout.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Workout.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/workouts">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Workout? Workout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Workout ??= await context.Workout.FirstOrDefaultAsync(m => m.Id == Id);

        if (Workout is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateWorkout()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Workout!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!WorkoutExists(Workout!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/workouts");
    }

    private bool WorkoutExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Workout.Any(e => e.Id == id);
    }
}
