@page "/userrewards/edit"
@using Microsoft.EntityFrameworkCore
@using LevelUP.Domain
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>UserReward</h2>
<hr />
@if (UserReward is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="UserReward" OnValidSubmit="UpdateUserReward" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="UserReward.Id" value="@UserReward.Id" />
                <div class="mb-3">
                    <label for="dateclaimed" class="form-label">DateClaimed:</label>
                    <InputDate id="dateclaimed" @bind-Value="UserReward.DateClaimed" class="form-control" />
                    <ValidationMessage For="() => UserReward.DateClaimed" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputNumber id="userid" @bind-Value="UserReward.UserId" class="form-control" />
                    <ValidationMessage For="() => UserReward.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rewardid" class="form-label">RewardId:</label>
                    <InputNumber id="rewardid" @bind-Value="UserReward.RewardId" class="form-control" />
                    <ValidationMessage For="() => UserReward.RewardId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/userrewards">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private UserReward? UserReward { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        UserReward ??= await context.UserReward.FirstOrDefaultAsync(m => m.Id == Id);

        if (UserReward is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateUserReward()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(UserReward!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UserRewardExists(UserReward!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/userrewards");
    }

    private bool UserRewardExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.UserReward.Any(e => e.Id == id);
    }
}
