@page "/customers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LevelUP.Domain
@using LevelUP.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="customers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Customer">
    <PropertyColumn Property="customer => customer.UserName" />
    <PropertyColumn Property="customer => customer.Email" />
    <PropertyColumn Property="customer => customer.XPAmount" />
    <PropertyColumn Property="customer => customer.Rank" />
    <PropertyColumn Property="customer => customer.UserId" />
    <PropertyColumn Property="customer => customer.DateCreated" />
    <PropertyColumn Property="customer => customer.DateUpdated" />
    <PropertyColumn Property="customer => customer.CreatedBy" />
    <PropertyColumn Property="customer => customer.UpdatedBy" />

    <TemplateColumn Context="customer">
        <a href="@($"customers/edit?customerid={customer.CustomerId}")">Edit</a> |
        <a href="@($"customers/details?customerid={customer.CustomerId}")">Details</a> |
        <a href="@($"customers/delete?customerid={customer.CustomerId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private LevelUPContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
