@page "/contactus"
@rendermode InteractiveServer

<PageTitle>Contact Us</PageTitle>

<div class="contact-us-container">
    <h1>Contact Us</h1>

    <div class="section">
        <h2>Feature that is amazing</h2>
        <ul>
            <li>Email: Omniscient@hotmail.com</li>
            <li>Mobile Number: 69583460</li>
        </ul>
    </div>

    <div class="section">
        <h2>Follow Our Instagram</h2>
        <ul>
            <li>LevelUP.Omni</li>
        </ul>
    </div>
</div>