.dashboard-container {
    background-color: #1a1a3d; /* Deep purple background */
    color: #ffffff; /* White text */
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    padding: 40px;
    border-radius: 15px;
    max-width: 900px;
    margin: 85px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #b3b3ff;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: 1.5rem;
    color: #d1d1ff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

p {
    font-size: 1rem;
    line-height: 1.8;
}

.main-sections {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-section, .current-quest-section {
    width: 48%; /* Adjusts width so they fit side by side */
}

.current-quest-section {
    text-align: left;
}

.quest-buttons {
    display: flex;
    gap: 10px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.feature {
    text-align: center;
    max-width: 250px;
}

    .feature h2 {
        margin-bottom: 10px;
    }

.btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: 200px; /* Set the width of the button */
}

    .btn:hover {
        transform: scale(1.1);
        background-color: #4c0266;
        color: #fff;
    }
