@page "/"
@layout LevelUP.Components.Layout.MainLayout

<main>
    <section class="hero">
        <h2>Take on Quests</h2>
        <p>Our answer to an interactive RPG.<br>It's not just a fitness app, it's an engaging game!</p>
    </section>

    <section class="cta">
        <h2>Ready To Start?</h2>
        <p>Join us for free and dive into a new world of RPG and fitness.</p>
        <!-- Updated button with anchor -->
        <a href="Account/Register">
            <button type="button" class="btn">Sign Up</button>
        </a>
    </section>
</main>