@page "/staff"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LevelUP.Domain
@using LevelUP.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="staff/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Staff">
    <PropertyColumn Property="staff => staff.UserName" />
    <PropertyColumn Property="staff => staff.Email" />
    <PropertyColumn Property="staff => staff.UserId" />
    <PropertyColumn Property="staff => staff.DateCreated" />
    <PropertyColumn Property="staff => staff.DateUpdated" />
    <PropertyColumn Property="staff => staff.CreatedBy" />
    <PropertyColumn Property="staff => staff.UpdatedBy" />

    <TemplateColumn Context="staff">
        <a href="@($"staff/edit?id={staff.Id}")">Edit</a> |
        <a href="@($"staff/details?id={staff.Id}")">Details</a> |
        <a href="@($"staff/delete?id={staff.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private LevelUPContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
