@page "/achievements/create"
@using Microsoft.EntityFrameworkCore
@using LevelUP.Domain
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Achievement</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Achievement" OnValidSubmit="AddAchievement" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="achievementname" class="form-label">AchievementName:</label> 
                <InputText id="achievementname" @bind-Value="Achievement.AchievementName" class="form-control" /> 
                <ValidationMessage For="() => Achievement.AchievementName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Achievement.Description" class="form-control" /> 
                <ValidationMessage For="() => Achievement.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="badgeicon" class="form-label">BadgeIcon:</label> 
                <InputText id="badgeicon" @bind-Value="Achievement.BadgeIcon" class="form-control" /> 
                <ValidationMessage For="() => Achievement.BadgeIcon" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="xprequired" class="form-label">XPRequired:</label> 
                <InputNumber id="xprequired" @bind-Value="Achievement.XPRequired" class="form-control" /> 
                <ValidationMessage For="() => Achievement.XPRequired" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/achievements">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Achievement Achievement { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAchievement()
    {
        using var context = DbFactory.CreateDbContext();
        context.Achievement.Add(Achievement);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/achievements");
    }
}
