@page "/questworkouts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LevelUP.Domain
@using LevelUP.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="questworkouts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.QuestWorkout">
    <PropertyColumn Property="questworkout => questworkout.QuestId" Title="Quest ID" />
    <PropertyColumn Property="questworkout => questworkout.WorkoutId" Title="Workout ID" />
    <PropertyColumn Property="questworkout => questworkout.Status" Title="Status" />
    <PropertyColumn Property="questworkout => questworkout.DateCreated" Title="Date Created" />
    <PropertyColumn Property="questworkout => questworkout.DateUpdated" Title="Date Updated" />
    <PropertyColumn Property="questworkout => questworkout.CreatedBy" Title="Created By" />
    <PropertyColumn Property="questworkout => questworkout.UpdatedBy" Title="Updated By" />

    <TemplateColumn Context="questworkout">
        <a href="@($"questworkouts/edit?questworkoutid={questworkout.QuestWorkoutId}")">Edit</a> |
        <a href="@($"questworkouts/details?questworkoutid={questworkout.QuestWorkoutId}")">Details</a> |
        <a href="@($"questworkouts/delete?questworkoutid={questworkout.QuestWorkoutId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<style>
    /* Push content down below the navigation bar */
    .container {
        margin-top: 50px; /* Adjust if necessary based on navbar height */
        padding: 20px;
    }

    /* Make all text white */
    body {
        color: white;
    }

    .table {
        color: white;
    }
</style>

@code {
    private LevelUPContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
